ul{
  list-style: none;  
}

.list-group-personal{
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
